Package: com.michael.globalizefix
Name: GlobalizeFix
Depends: com.parrotgeek.globalize, com.michael.suer, coreutils-bin, mobilesubstrate
Architecture: iphoneos-arm
Description: Fixed an issue that reboot may caused Globalize lose its effect.
Maintainer: Halo_Michael <yc992147156@me.com>
Author: Halo_Michael <yc992147156@me.com>
Section: Tweaks
Version: 0.3.2
